<h2> <%= user_signed_in? ? "Dear, " + current_user.email + ", welcome to the list of secrets!" : "Sign in to see authors' name" %> </h2>
<% @posts.each do |post| %>
  <p><b><%= post.title %></b></p>
  <p><%= post.body %></p>
  by <i><%= user_signed_in? ? post.user.email : "unknown" %></i><hr>
<% end %>
<% if user_signed_in? %>
  <%= button_to("Create Post", new_post_path, method: :get) %> <br>
  <%= button_to("Log Out", destroy_user_session_path, method: :delete) %>
<% else %>
  <%= link_to "Sign In", new_user_session_path %>
<% end %>
